

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head"></head>

<body class="w-full h-screen flex relative justify-center items-center">
<nav th:replace="partials/navbar :: navbar"></nav>



<!-- Main modal -->
<div id="ai-assistant" tabindex="-1" aria-hidden="true" class="hidden bg-black bg-opacity-50 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 bottom-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">

    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <!-- Modal content -->
        <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
            <!-- Modal header -->
            <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                <h3 class="text-lg mr-5 font-semibold text-gray-900 dark:text-white">
                    Ai Assistant
                </h3>

                <button type="button" id = "close" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="updateProductModal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form action="#">
                <div class="grid gap-4 mb-4 sm:grid-cols-2">
                    <div class="sm:col-span-2">
                        <label for="ai-description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Provide a brief description</label>
                        <textarea id="ai-description" rows="5" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Write a brief description for the ai assistant..."></textarea>
                    </div>
                </div>
                <div class="flex items-center space-x-4">

                    <button type="submit" class="text-white bg-blue-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Generate Description
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>


<div class="w-full h-screen flex justify-center items-center">

    <form th:action="@{/events/{id}/edit(id=${event.id})}" th:method="post" th:object="${event}">
        <h1 class="text-3xl mb-10">Edit your Event</h1>
        <div class="grid gap-4 mb-4 sm:grid-cols-2">

            <div>
                <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Event Name</label>
                <input type="text" th:field="*{title}" name="title" id="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Enter Event Name...">
            </div>
            <div>
                <label for="location" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Location</label>
                <input type="text" th:field="*{location_name}" name="location" id="location" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Enter the location" >
            </div>
            <div>
                <label for="event_DateAndTime" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date and Time</label>
                <input name="event_DateAndTime" type="datetime-local" id="event_DateAndTime" th:field="*{event_DateAndTime}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
            </div>
            <div>
                <label for="location_address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address</label>
                <input type="text" th:field="*{location_address}" name="location_address" id="location_address" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Enter the location" required="">
            </div>

            <div class="sm:col-span-2">
                <div class = "flex items-center mb-2">
                    <label for="description" th:field="*{description}" class="block mr-3 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                    <div id="ai" class="text-blue-600 hover:cursor-pointer">Use Ai Assistant</div>
                </div>
                <textarea id="description" name="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"></textarea>
            </div>
        </div>

<!--        <label for="description" class="block text-sm font-medium text-gray-900 dark:text-white mb-3">Upload a photo for your event</label>-->

        <div class="flex mb-5">
            <button id="upload-btn" type="button" class=" border-l border-t border-b border-gray-300 rounded-l-lg hover:bg-gray-100 bg-gray-200 p-2 text-blue-600 font-bold text-[10px]">Click to upload photo</button>
            <input class="block w-2/3 text-sm text-gray-900 border border-gray-300 cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="photo-edit" name="eventPhoto" type="text">
        </div>


        <div class="flex items-center justify-between mt-5">
            <h3 class="text-blue-600"><a href="/events">Go Back</a></h3>
            <div>
                <button type="submit" class="text-white inline-flex items-center mr-3  bg-blue-700 hover:bg-primary-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    Edit Event
                </button>

            </div>
        </div>

    </form>


</div>
<script th:src="@{/js/fileStack-api.js}" type="module"></script>

<script>
    const closeButton = document.getElementById('close');
    const modal = document.getElementById('ai-assistant');
    const ai = document.getElementById('ai');

    closeButton.addEventListener('click', () => {
        modal.style.display = 'none';
    });

    const aiLink = document.getElementById('ai');
    const modal1 = document.getElementById('ai-assistant');

    aiLink.addEventListener('click', () => {
        modal1.style.display = 'block';
    });
</script>


</body>
</html>







