<!-- User POSTS -->

<!--<div class="card-div flex flex-col mt-[4em] justify-between border w-full h-[30em] mb-5 pb-5 border-gray-200 rounded-lg shadow dark:border-gray-700"-->
<!--     th:each="event : ${events}" th:title="${event.id}"-->
<!--     th:style="'background-image:url(\'' + ${event.eventPhoto} + '\'); background-size:cover; background-position:center;'">-->
<div class="card-div flex flex-col mt-[4em] justify-between border w-full h-[30em] mb-5 pb-5 border-gray-200 rounded-lg shadow dark:border-gray-700"
     th:each="event : ${events}" th:title="${event.id}"
     th:style="${event.eventPhoto == null or event.eventPhoto == ''} ? 'background-image:url(\'/img/event-img.jpg\'); background-size:cover; background-position:center;' : 'background-image:url(\'' + ${event.eventPhoto} + '\'); background-size:cover; background-position:center;'">
    <!-- card content here -->
<!--</div>-->



    <div class=" w-full mt-[10px] h-[3em]">
        <div class="w-full flex items-center justify-between">


            <form th:action="@{'/events/' + ${event.id} + '/participate'}" method="post">
                <button id="color-toggle" type="submit"
                        class="bg-white w-[150px] duration-75 h-[45px] ml-[4em] text-black font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        th:classappend="${event.hasParticipated(#authentication.principal.id) ? 'bg-white text-black' : ''}">
                    <span th:text="${event.hasParticipated(#authentication.principal.id) ? 'Attending' : 'Participate'}"></span>
                </button>
            </form>

            <div class="w-full flex justify-end  mr-[4em]" th:if="${event.user.id} == ${#authentication.principal.id}">
                <button th:id="dropdownDefaultButton + ${event.id}" th:data-dropdown-toggle="dropdown + ${event.id}" class="text-black rounded-full bg-white hover:bg-gray-200 px-4 py-3 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                    <i class="ri-edit-box-line"></i>
                </button>
                <!-- Dropdown menu -->
                <div th:id="dropdown + ${event.id}" class="z-10 w-[80px] hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                        <li>
                            <form th:action="@{/events/{id}/edit(id=${event.id})}" method="get" class="edit-form">
                                <button type="submit" class="edit-btn block flex w-full px-4 py-2 text-gray-500 hover:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white">Edit</button>
                            </form>
                        </li>
                        <li>
                            <form th:action="@{/events/{id}/delete(id=${event.id})}" method="get" onsubmit="return confirmDelete();">
                                <button type="submit" class="delete-btn block flex w-full px-4 py-2 text-red-500 hover:text-red-400 dark:hover:bg-gray-600 dark:hover:text-white">Delete</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>

            <div th:if="${event.user.id} != ${#authentication.principal.id}">
                <form th:action="@{/events/{id}/like(id=${event.id})}" method="post">
                    <button type="submit"
                            class="flex items-center mr-[4em] justify-center text-white h-12 w-12 bg-white hover:bg-gray-100 font-medium rounded-full text-sm text-center inline-flex items-center dark:bg-blue-600">
                        <svg class="black w-5" fill="none" stroke="black" stroke-width="1.5" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"></path>
                            <p th:text="${event.eventLikes.size}"></p>
                        </svg>
                    </button>

                </form>
            </div>

        </div>
    </div>


    <div class=" flex justify-center items-center w-full h-[10em]">
        <!--Event Description-->
        <div class="w-full md:w-5/6 h-[11em] bg-white rounded-xl">

            <div class="flex flex-row w-full h-2/3 justify-between">
                <div class="w-2/3">
                    <div class="w-full">
                        <h2 class="text-2xl font-bold pl-5 pt-3" th:text="${event.title}"></h2>
                        <div class="text-sm pl-5 pb-3">

                            <div class="text-[14px]"><span th:text="${#temporals.format(event.event_DateAndTime, 'EEEE, MMMM dd, yyyy')}">
                            </span> At <span th:text="${#temporals.format(event.event_DateAndTime, 'h:mm a')}"></span></div>
                            <p class="text-[10px]  text-gray-500 flex"><span>
                                                          <svg fill="none" class="h-[13px] mt-1 mr-1" stroke="currentColor" stroke-width="1.5"
                                                               viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                          <path stroke-linecap="round" stroke-linejoin="round"
                                                                d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                                          <path stroke-linecap="round" stroke-linejoin="round"
                                                                d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"></path>
                                                          </svg></span><span th:text="${event.location_address}"></span>
                            </p>
                        </div>


                    </div>

                </div>
                <div class="flex pt-3 pr-3 ">
                    <div class="view-participants-btn w-1/3 h-1/3 text-[10px] flex items-center mr-4"><h3
                            class="text-blue-600">
                        <a class="view-participants-btn hover:cursor-pointer" data-modal-target="defaultModal"
                           data-modal-toggle="defaultModal" th:data-event-id="${event.id}">Participants</a>
                    </h3></div>


                    <div class="flex h-1/3 -space-x-4">
                        <a th:each="participation, i : ${event.participations}" th:if="${i.index &lt; 3}">
                            <img class="w-9 h-9 border-2 border-white rounded-full dark:border-gray-800"
                                 th:if="${not #strings.isEmpty(participation.user.profilePhoto)}"
                                 th:src="${participation.user.profilePhoto}" alt="Profile image"/>
                            <img class="w-9 h-9 border-2 border-white rounded-full dark:border-gray-800"
                                 th:unless="${not #strings.isEmpty(participation.user.profilePhoto)}"
                                 th:src="@{/img/profile.jpeg}" alt="Default profile image"/>
                        </a>

                        <a class="flex items-center justify-center w-9 h-9 text-xs font-medium text-white bg-gray-700 border-2 border-white rounded-full hover:bg-gray-600 dark:border-gray-800"
                           href="#"><span th:text="${event.participations.size}"></span></a>
                    </div>
                </div>


            </div>
            <div class="w-full h-1/3">
                <div class="flex pl-3 items-center space-x-4 justify-between">
                    <div class="flex ">
                        <img class="w-10 h-10 rounded-full mr-3"
                             th:src="${#strings.isEmpty(event.user.profilePhoto) ? '/img/profile.jpeg' : event.user.profilePhoto}">
                        <div class="font-medium dark:text-white">
                         <div class="flex flex-col">
                             <span th:text ="${#strings.isEmpty(event.user.first_name) ? event.user.username : event.user.first_name}"></span>
                         </div>

                            <div class="text-[10px] text-gray-500 dark:text-gray-400"
                            ><h4>Created at <span class="text-[10px] text-gray-500 dark:text-gray-400"
                                                  th:text="${#temporals.format(event.created_at, 'MMMM-dd-yyyy')}"></span>
                            </h4></div>
                        </div>
                    </div>

                    <div>
                        <form th:action="@{/events/{id}/find (id=${event.id})}" method="get">
                            <input type="hidden" name="event" th:value="${event.id}"/>
                            <button type="submit"
                                    class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 mr-3 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                See Details
                            </button>
                        </form>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<script>
    function confirmDelete() {
        if (confirm("Are you sure you want to delete this event?")) {
            return true;
        } else {
            return false;
        }
    }
</script>