<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">

<head th:replace="partials/header :: head">
    <meta charset="UTF-8">
    <title>Events</title>
</head>

<link rel="stylesheet" href="/css/event-index.css"/>

<body class="flex justify-center bg-gray-100  dark:bg-gray-700">
<nav th:replace="partials/navbar :: navbar-search-events"></nav>
<nav th:replace="partials/navbar :: navbar-mobile-events"></nav>
<nav th:include="event/participants-modal"></nav>


<section class="aside-container hidden md:flex w-[20em] h-screen relative">

    <nav th:replace="partials/Aside :: aside-nav"></nav>

</section>




<div id="feed-container" class="flex items-start justify-center w-full ">
    <!--- Feed -->
    <div class="w-full md:mt-[7.5em] md:w-[80%]">
        <!--Filter bar-->
        <div>
            <section class="dark:bg-gray-900 mt-[5em] md:mt-0 w-full h-[5em] flex items-center shadow-lg">
                <div class="w-full">
                    <div class="relative bg-white shadow-md dark:bg-gray-800 sm:rounded-lg">
                        <div class="w-full flex justify-between items-center p-4">
                            <h1 class="text-[15px] md:text-2xl md:w-[15em] p-3 ml-2 font-extrabold dark:text-white">Discover Events<small
                                    class="ml-3 text-sm font-semibold text-gray-500 dark:text-gray-400"
                                    th:text="${events.size()}"></small> <span
                                    class=" text-[10px] md:text-sm font-semibold text-gray-500 dark:text-gray-400">Results</span></h1>


                            <div class="flex justify-center md:justify-end md:items-center w-[190px] md:w-[200px] space-x-3 ">
                                <div class=" w-[160px] md:w-[150px]">
                                    <ul class=" w-full flex text-sm font-medium text-center sm:h-[35px] md:h-full text-gray-500 divide-x divide-gray-200 rounded-lg dark:divide-gray-700 dark:text-gray-400">

                                        <li class="w-full toggle-btn">
                                            <a id="listing-btn"
                                               class="listing-btn toggle-btn text-[12px] inline-block w-full border-l border-t border-b sm:h-[35px] md:h-full border-gray-300 p-2 md:p-3 text-gray-900 bg-gray-200 rounded-l-lg dark:bg-gray-700 dark:text-white"
                                               aria-current="page">Listing</a>
                                        </li>
                                        <li class="w-full toggle-btn">
                                            <a id="map-btn"
                                               class="toggle-btn text-[12px] inline-block w-full border border-gray-300 sm:h-[35px] md:h-full p-2 md:p-3 rounded-r-lg hover:text-gray-700 hover:bg-gray-50 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700">Map</a>
                                        </li>
                                    </ul>

                                </div>

                                <select id="filter"
                                        class="bg-white ml-3 border border-gray-300 text-gray-900 text-sm md:h-[48px] h-[37px] rounded-lg focus:ring-blue-500 block md:w-[100px] p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
                                    <option  id="all" value="all">All</option>
                                    <option id="local" value="local">Local</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!--End of Filter bar-->

        <!--Event Feed Section-->
        <div id="event-feed" class="w-full h-full mt-[3em] md:mt-[1em]">
            <div th:include="event/event-card.html"></div>

            <!--PUT MAPBOX HERE-->
<!--            -->
            <div class="mt-3">
                <div id='map' style='width: 100%; height: 500px;' class="rounded-lg">
            </div>
            </div>

<!--            -->
        </div>
    </div>
</div>

<section class="aside-container hidden md:flex w-[18em] h-screen relative">
    <aside th:replace="partials/Aside :: friends-aside"></aside>

</section>
<!--<script src="/js/keys.js" type="text/javascript"></script>-->
<!-- minified snippet to load TalkJS without delaying your page -->
<script src="/js/title.js"></script>
<script src="/js/event-feed.js"></script>
<script src="/js/event/event-index.js"></script>
<!--utils doc-->
<script src="/js/mapbox-geocoder-utils.js"></script>
<!--Mapbox-->
<script src="/js/custom-map-stuff.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
</body>
</html>


