<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="partials/header :: head">
    <meta charset="UTF-8">
    <title>All Events</title>
</head>
<style>

    @media (max-width: 1095px) {
        aside {
            display: none !important;
        }
        .aside-container {
            display: none !important;
        }

    }

    #nav-mobile {
        position: fixed;
        bottom: 2rem;
        left: 0;
        right: 0;
        width: 328px;
        height: 72px;
        box-shadow: 0 8px 32px hsla(231, 44%, 45%, .2);
        margin: 0 auto;
        padding: 1.5rem .5rem;
        border-radius: .65rem;
        overflow: hidden;
    }

    .nav__list {
        display: flex;
        justify-content: center;
        column-gap: 2rem;
    }

    .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

</style>

<body class="flex justify-center bg-gray-100">

<nav th:replace="partials/navbar :: navbar-search"></nav>
<nav th:replace="partials/navbar :: navbar-mobile"></nav>
<nav th:include="event/participants-modal"></nav>

<section class="aside-container hidden md:flex w-[18em] xl:w-[28.5em] h-screen relative">
    <aside id="logo-sidebar" class="fixed top-0 left-0 border-r-2 col-start-1 col-span-1 hidden md:flex w-[13em] xl:w-[17em] h-screen bg-white"
                               aria-label="Sidebar" style="z-index: 99">
    <div class="h-full w-full px-3 pb-4 bg-white mt-[7em]">
        <ul class="space-y-2">
            <li>
                <div class="w-full max-w-sm bg-white dark:bg-gray-800 dark:border-gray-700">
                    <div class="flex flex-col items-center justify-center mt-1">
                        <img class="w-24 h-24 mb-3 rounded-full shadow-lg"
                             th:if="${not #strings.isEmpty(user.profilePhoto)}"
                             th:src="${user.profilePhoto}"
                             alt="Profile image"/>
                        <img class="w-24 h-24 mb-3 rounded-full shadow-lg"
                             th:if="${#strings.isEmpty(user.profilePhoto)}"
                             th:src="@{/img/profile.jpeg}"
                             alt="Default profile image"/>
                        <h5 class="mb-1 text-center text-xl font-medium text-gray-900 dark:text-white">Welcome,
                            <span th:text="${#authentication.principal.username}"/>!</h5>
                        <span class="text-sm text-gray-500 dark:text-gray-400"></span>
                    </div>
                </div>
            </li>

            <li class="flex w-full items-center justify-center p-3 border-b-2 pb-5 text-gray-900 dark:text-white ">
                <form th:action="${'/logout'}" th:method="post">
                    <button type="submit"
                            class="py-2.5 px-5 w-full mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:text-red-400 ">
                        Logout
                    </button>
                </form>
            </li>

            <li>
                <a href="/events/create"
                   class="flex items-center p-3 pl-14 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white  bi bi-postcard-heart"
                         viewBox="0 0 16 16">
                        <path d="M8 4.5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7Zm3.5.878c1.482-1.42 4.795 1.392 0 4.622-4.795-3.23-1.482-6.043 0-4.622ZM2.5 5a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3Zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3Zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3Z"/>
                        <path fill-rule="evenodd"
                              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H2Z"/>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Create Event</span>
                </a>
            </li>
            <li>
                <a href="/friends"
                   class="flex items-center p-3 pl-14 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-people-fill flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                         viewBox="0 0 16 16">
                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Chatting</span>
                </a>
            </li>
            <li>
                <a href="/profile/edit"
                   class="flex items-center p-3 pl-14 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" viewBox="0 0 16 16" >
                        <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Settings</span>
                </a>
            </li>
            <li>
                <a href="/events"
                   class="flex items-center p-3 pl-14 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Contact Us</span>
                </a>
            </li>
        </ul>
    </div>
</aside></section>

<div id="feed-container" class="flex items-center justify-center w-full ">
    <!--- Feed -->
    <div class="w-full ">
        <!--Filter bar-->
        <div class=" mt-[3em] md:mt-[8em]">
            <section class="dark:bg-gray-900 w-full h-[5em] flex items-center">

                <div class="w-full">
                    <div class="relative bg-white shadow-md dark:bg-gray-800 sm:rounded-lg">
                        <div class="w-full flex justify-between items-center">
                            <h1 class="text-2xl p-3 ml-2 font-extrabold dark:text-white">Events<small
                                    class="ml-3 text-sm font-semibold text-gray-500 dark:text-gray-400"
                                    th:text="${events.size()}"></small> <span
                                    class="text-sm font-semibold text-gray-500 dark:text-gray-400">results</span></h1>
                            <button type="button"
                                    class="text-white w-1/3 mr-4 bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                <a href="/events/create">Create Event</a></button>
                        </div>
                        <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700">
                        <div class="flex flex-col items-center justify-end p-4 space-y-3 md:flex-row md:space-y-0 md:space-x-4">

                            <div class="flex flex-col items-stretch justify-end flex-shrink-0 w-full space-y-2 md:w-auto md:flex-row md:space-y-0 md:items-center md:space-x-3">

                                <div class="flex justify-end md:items-center w-full space-x-3 md:w-auto">
                                    <div class="flex justify-center items-center">
                                        <ul class=" text-sm font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-lg shadow sm:flex dark:divide-gray-700 dark:text-gray-400">
                                            <li class="w-full toggle-btn">
                                                <a id="listing-btn"
                                                   class="toggle-btn inline-block w-full border-l border-t border-b border-gray-300 p-2.5 text-gray-900 bg-gray-200 rounded-l-lg dark:bg-gray-700 dark:text-white"
                                                   aria-current="page">Listing</a>
                                            </li>
                                            <li class="w-full toggle-btn">
                                                <a id="map-btn"
                                                   class="toggle-btn inline-block w-full border border-gray-300 p-2.5 rounded-r-lg hover:text-gray-700 hover:bg-gray-50 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700">Map</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <select id="filter"
                                            class="bg-white ml-3 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 block md:w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
                                        <option  id="all" value="all">All</option>
                                        <option id="local" value="local">Local</option>

                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
        <!--End of Filter bar-->

        <!--Event Feed Section-->
        <div id="event-feed" class="w-full h-full">
            <div th:include="event/event-card.html"></div>

            <!--PUT MAPBOX HERE-->
            <div id='map' style='width: 100%; height: 500px;'>
            </div>
        </div>
    </div>

</div>

<section class="aside-container hidden md:flex xl:w-[25em] h-screen relative">
    <aside class="fixed top-0 justify-items-center ml-5 hidden md:flex w-[15em]"
                                  aria-label="Sidebar">
    <div class="w-full max-w-md p-3 mt-[103px] h-1/2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="w-full flex flex-row items-center justify-between mb-4">
            <div class="w-full flex flex-col justify-center">
                <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
                    <ul class="flex flex-row -mb-px text-sm font-medium text-center" id="myTab"
                        data-tabs-toggle="#myTabContent" role="tablist">
                        <li class="w-1/2 mr-2" role="presentation">
                            <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab"
                                    data-tabs-target="#profile" type="button" role="tab" aria-controls="profile"
                                    aria-selected="false">Followers
                            </button>
                        </li>
                        <li class="w-1/2 mr-2" role="presentation">
                            <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                                    id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab"
                                    aria-controls="dashboard" aria-selected="false">All
                            </button>
                        </li>

                    </ul>
                </div>
                <div id="myTabContent">
                    <div class="hidden rounded-lg" id="profile" role="tabpanel"
                         aria-labelledby="profile-tab">
                        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">

                            <!--          <div th:each="user : ${users}">-->
                            <div th:each="user : ${followedUsers}">

                                <div th:if="${user.id} != ${#authentication.principal.id}">
                                    <li class="py-2 group/item">
                                        <div class="flex flex-col space-x-4 ">
                                            <div class="flex items-center justify-between px-3">
                                                <div th:data-dropdown-toggle="${user.id}"
                                                     data-dropdown-placement="bottom-start" type="button"
                                                     class="flex items-center">

                                                    <img class="w-10 h-10 rounded-full cursor-pointer"
                                                         th:src="${user.profilePhoto != null and user.profilePhoto != '' ? user.profilePhoto : '/img/profile.jpeg'}"
                                                         alt="user-image">

                                                    <div class="ml-3 flex-col font-medium dark:text-white">
                                                        <div class="text-base font-normal text-gray-900 "><span
                                                                th:text="${user.first_name}"
                                                                th:href="@{|/user/${user.id}|}"></span><span
                                                                th:text="${user.last_name}"
                                                                th:href="@{|/user/${user.id}|}"></span></div>
                                                        <div class="text-sm text-gray-500 dark:text-gray-400">@<span
                                                                th:text="${user.username}"
                                                                th:href="@{|/user/${user.id}|}"></span></div>
                                                    </div>
                                                    <div th:id="${user.id}"
                                                         class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                                                        <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                                                            <div class="text-base font-normal text-gray-900 "><span
                                                                    th:text="${user.first_name } "></span> <span
                                                                    th:text="${user.last_name}"></span></div>
                                                            <div class="text-sm text-gray-500 dark:text-gray-400">
                                                                <span th:text="${user.email}"></span></div>

                                                        </div>
                                                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                                                            aria-labelledby="avatarButton">
                                                            <li>
                                                                <a th:href="@{|/user/${user.id}|}"
                                                                   class="block px-4 py-2 dark:hover:text-white">View
                                                                    Profile</a>
                                                            </li>
                                                            <li>
                                                                <a href="/friends"
                                                                   class="block px-4 py-2 dark:hover:text-white">Message</a>
                                                            </li>
                                                        </ul>
                                                        <div class="py-1">

                                                            <form th:action="@{/users/{id}/follow(id=${user.id})}"
                                                                  th:name="followFromEvent" th:method="post"
                                                                  class="block px-4 py-2 text-sm text-gray-700">
                                                                <button th:text="${user.getFollowedUsers().contains(user) ? 'Follow' : 'Unfollow'}"
                                                                        type="submit"></button>
                                                            </form>
                                                            <!--                          <a id="followButton" th:text="${user.followingUsers.contains(user) ? 'Unfollow' : 'Follow'}"-->
                                                            <!--                             th:onclick="${user.followingUsers.contains(user) ? '@{/users/'+ user.id + '/follow}' : '@{/users/'+ user.id + '/follow}'}"-->
                                                            <!--                          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"></a>-->

                                                        </div>
                                                    </div>
                                                </div>

                                                <a class="flex flex-row justify-self-end items-center  "
                                                   th:href="@{|/user/${user.id}|}">

                                                    <div class="hover:cursor-pointer group-hover/edit:translate-x-0.5 group-hover/edit:text-slate-500">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi text-gray-300 hover:text-gray-500 transition duration-300  bi-person-circle" viewBox="0 0 16 16">
                                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                                    </svg>
                                                    </div>

                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                            </div>
                        </ul>
                    </div>

                    <div class="hidden rounded-lg bg-gray-50 dark:bg-gray-800" id="dashboard" role="tabpanel"
                         aria-labelledby="dashboard-tab">
                        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                            <!--          <div th:each="user : ${users}">-->
                            <div th:each="user : ${usersNotFollowing}">

                                <div th:if="${user.id} != ${#authentication.principal.id}">

                                    <li class="py-2 group/item hover:bg-slate-100 ">

                                        <div class="flex flex-col space-x-4 ">
                                            <div class="flex items-center justify-between px-3">
                                                <div th:data-dropdown-toggle="${user.email}"
                                                     data-dropdown-placement="bottom-start" type="button"
                                                     class="flex items-center">

                                                    <img class="w-10 h-10 rounded-full cursor-pointer"
                                                         th:src="${user.profilePhoto != null and user.profilePhoto != '' ? user.profilePhoto : '/img/profile.jpeg'}"
                                                         alt="user-image">

                                                    <div class="ml-3 flex-col font-medium dark:text-white">
                                                        <div class="text-sm text-gray-500 dark:text-gray-400">@<span
                                                                th:text="${user.username}"
                                                                th:href="@{|/user/${user.id}|}">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div th:id="${user.email}"
                                                         class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                                                        <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                                                            <div class="text-base font-normal text-gray-900 "><span
                                                                    th:text="${user.first_name } "></span> <span
                                                                    th:text="${user.last_name}"></span>
                                                            </div>
                                                            <div class="text-sm text-gray-500 dark:text-gray-400">

                                                                <span th:text="${user.email}"></span>
                                                            </div>

                                                        </div>
                                                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                                                            aria-labelledby="avatarButton">
                                                            <li>
                                                                <a th:href="@{|/user/${user.id}|}"
                                                                   class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">View
                                                                    Profile</a>
                                                            </li>
                                                            <li>
                                                                <a href="#"
                                                                   class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Message</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <a class="flex flex-row justify-self-end items-center group/edit invisible hover:bg-slate-200 group-hover/item:visible ">
                                                    <form th:action="@{/users/{id}/follow(id=${user.id})}"
                                                          th:name="followFromEvent" th:method="post"
                                                          class="block px-4 py-2 text-sm text-gray-200 dark:text-gray-600 dark:hover:text-white">
                                                        <button class="items-center justify-center hover:cursor-pointer group-hover/edit:translate-x-0.5 group-hover/edit:text-slate-500 "
                                                                type="submit">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                 height="16" fill="currentColor"
                                                                 class="bi bi-person-fill-add" viewBox="0 0 16 16">
                                                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                                                                <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
                                                            </svg>
                                                        </button>
                                                    </form>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
</section>

<!-- minified snippet to load TalkJS without delaying your page -->
<script>
    (function (t, a, l, k, j, s) {
        s = a.createElement('script');
        s.async = 1;
        s.src = "https://cdn.talkjs.com/talk.js";
        a.head.appendChild(s)
        ;k = t.Promise;
        t.Talk = {
            v: 3, ready: {
                then: function (f) {
                    if (k) return new k(function (r, e) {
                        l.push([f, r, e])
                    });
                    l
                        .push([f])
                }, catch: function () {
                    return k && new k()
                }, c: l
            }
        };
    })(window, document, []);

    const dropdownMenu = document.querySelector(".dropdown-menu");
    const dropdownButton = document.querySelector(".dropdown-toggle");

    dropdownButton.addEventListener("click", () => {
        dropdownMenu.classList.toggle("hidden");
    });


</script>

<script src="/js/event-feed.js"></script>
<!--utils doc-->
<script src="/js/mapbox-geocoder-utils.js"></script>
<!--Mapbox-->
<script src="/js/custom-map-stuff.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
</body>
</html>


