<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Events</title>
</head>
<body>
  <h1>All Events</h1>
  <div th:each="event : ${events}" >
    <h1>Title: <span th:text="${event.title}"></span></h1>
    <h3>Event location: <span th:text="${event.location_name}"></span></h3>
      <h3>Description: <span th:text="${event.description}"></span></h3>
      <h3>Event time: <span th:text="${event.event_DateAndTime}"></span></h3>
      <h3>Event Address: <span th:text="${event.location_address}"></span></h3>
      <h3>Created at: <span th:text="${event.created_at}"></span></h3>

    <!--    Event participation button -->
    <form th:action="@{'/events/' + ${event.id} + '/participate'}" method="post">
      <button type="submit" class="btn btn-outline-primary"
              th:classappend="${event.hasParticipated(#authentication.principal.id) ? 'active' : ''}">Attending
        <i class="fa fa-thumbs-up"></i><i class="bi bi-hand-thumbs-up"></i> <span th:text="${event.participations.size}"></span>
      </button>
    </form>

    <!--  Event edit button  -->
    <form th:action="@{/events/{id}/edit(id=${event.id})}" method="get">
      <input type="hidden" name="edit_id" th:value="${event.id}" />
      <button type="submit" class="btn btn-light">Edit</button>
    </form>

    <!-- Event delete button-->
    <form th:action="@{/events/{id}/delete(id=${event.id})}" method="get">
      <input type="hidden" name="delete_id" th:value="${event.id}" />
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <hr>
  </div>

</body>
</html>