<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head"></head>

<body>

<nav th:replace="partials/navbar :: navbar"></nav>


<div class="w-full h-screen">

    <div class="w-full relative flex items-start justify-center h-1/2" th:style="'background-image:url(\'' + ${event.eventPhoto} + '\'); background-size:cover; background-position:center;'">

        <div class="flex w-[50em] h-[20em] rounded-xl bg-white border-2"  style="transform: translateY(95%);">

            <div class="w-3/5 p-4">
                <h1 class = "text-2xl font-bold mb-3"><span th:text="${event.title}"></span></h1>
                <h3 class="mb-2">Starts at <span th:text="${#temporals.format(event.event_DateAndTime, 'dd-MMM-yyyy h:mm a')}"></span></h3>
                <h3 >Event created at <span th:text="${#temporals.format(event.created_at, 'dd-MMM-yyyy h:mm a')}"></span></h3>
                <h3 class="mt-5 font-bold">Location</h3>
                <h3><span th:text="${event.location_name}"></span></h3>
                <h3><span th:text="${event.location_address}"></span></h3>
                <h3 class="text mt-5 font-bold">Description</h3>
                <p th:text="${event.description}"></p>
            </div>

            <div class="w-2/5 p-4 border-l-2">

                <div class="flex flex-row">
                    <img class="w-[70px] h-[70px] rounded-full mr-3" th:src="${event.user.profilePhoto}">
                    <div class="flex ml-2 flex-col">
                        <h3 class="text-[15px] text-gray-400"> Event Hosted by</h3>
                        <h3><span class="font-bold" th:text="${event.user.first_name}"></span> <span class="font-bold" th:text="${event.user.last_name}"></span></h3>
                        <h4><span class="text-blue-600 mr-1">@</span><span th:text="${event.user.username}"></span></h4>
                    </div>
                </div>
                <div class ="mt-5">
                    <h4 class="text-[15px]">Phone Number</h4>
                    <h4 class="text-[10px] text-blue-500"><span th:text="${event.user.phone_number}"></span></h4>

                    <h4 class="mt-5 text-[15px]">Email Address</h4>
                    <h4 class="text-[10px] text-blue-500"><span th:text="${event.user.getEmail()}"></span></h4>
                </div>


            </div>
        </div>
    </div>
    <!--More Details/Mapbox-->
    <div class="w-full h-full flex justify-center">
        <div class = "w-[50em] mt-[8em] h-full ">
            <h2 class="text-2xl p-4 font-bold">Participants <span class="text-gray-400 text-[17px]" th:text="${event.participations.size}"></span></h2>
            <!--Avatars-->
            <div class=" w-full flex h-[60px]">
                <a th:each="participation, i : ${event.participations}" th:if="${i.index &lt; 10}"><img
                        class="w-[60px] h-[60px] border-2 border-white rounded-full dark:border-gray-800"
                        th:src="${participation.user.profilePhoto}" alt=""></a> </div>
            <!--Map box-->
            <div>



            </div>
        </div>
    </div>

</div>

</body>
</html>
