<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head"></head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>


<div class="flex-container d-flex justify-content-center">
  <div class="row d-flex justify-content-center">
    <h1>Edit Product</h1>

    <a th:href="@{/about?num=7}">About Page</a>

    <form th:method="POST" th:action="@{/pets/{id}/edit(id=${pet.id})}" th:object="${pet}" class="d-flex justify-content-center">
      <div class="card " style="width: 18rem;">
        <div class="card-header">
          Create Post
        </div>
        <div class="mb-3">
          <label for="petname">Petname:</label>
          <input th:field="*{petname}" type="text" name="petname" id="petname" placeholder="Enter name of your pet">
        </div>
        <div class="mb-3">
          <label for="dateOfBirth">Date of Birth:</label><br>
          <input th:field="*{dateOfBirth}" type="date" name="dateOfBirth" id="dateOfBirth" placeholder="Enter Date of Birth">
        </div>
        <div class="form-check">
          <input th:field="*{gender}" class="form-check-input" type="radio" name="gender" id="male" value="M" >
          <label class="form-check-label" for="male">
            M
          </label>
        </div>
        <div class="form-check">
          <input th:field="*{gender}" class="form-check-input" type="radio" name="gender" id="female" value="F">
          <label class="form-check-label" for="female">
            F
          </label>
        </div>

        <button class="btn btn-primary">Update</button>

      </div>
    </form>

  </div>
</div>







</body>
</html>