<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head">
  <title>
    Pet Edit
  </title>
</head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>


<div class="w-full h-full flex justify-center items-center">
  <div class="row d-flex mt-[3em] justify-content-center">
    <h1 class="text-3xl text-gray-900 mb-6">Edit your pet info</h1>


    <form th:method="POST" th:action="@{/pets/{id}/edit(id=${pet.id})}" th:object="${pet}" class="d-flex justify-content-center">
      <div class="mb-6">
        <label for="petname" class="block mb-2 text-sm font-medium text-gray-900">Pet name:</label>
        <input th:field="*{petname}" type="text" name="petname" id="petname" placeholder="Enter name of your pet" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      </div>
      <div class="mb-6">
        <label for="dateOfBirth" class="block text-sm font-medium text-gray-900">Date of Birth:</label><br>
        <input th:field="*{dateOfBirth}" type="date" name="dateOfBirth" id="dateOfBirth" placeholder="Enter Date of Birth" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      </div>
      <div class="grid gap-6 mb-6 md:grid-cols-2">

        <div class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
          <input th:field="*{gender}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" type="radio" name="gender" id="male" value="M" >
          <label class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="male">
            M
          </label>
        </div>
        <div class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700">
          <input th:field="*{gender}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" type="radio" name="gender" id="female" value="F">
          <label class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="female">
            F
          </label>
        </div>
      </div>

      <div class="mt-4">
        <label for="breed_name" class="block text-gray-700  font-bold mb-2">Breed Name:</label>
        <input th:field="*{breed.id}" type="hidden" />
        <input th:field="*{breed.breed_name}" type="text" name="breed_name" id="breed_name" class="form-input border-2 bg-gray-50 rounded-md mt-1 block w-full" list="breeds" th:onchange="'javascript:document.getElementById(\'breed_id\').value=this.selectedOptions[0].getAttribute(\'data-id\');'">
        <input th:field="*{breed.id}" type="hidden" name="breed_id" id="breed_id"/>
        <datalist id="breeds">
          <th:block th:each="breed : ${breeds}">
            <option th:data-id="${breed.id}" th:value="${breed.breed_name}" th:text="${breed.breed_name}"></option>
          </th:block>
        </datalist>
      </div>

      <div class="mb-6">
        <label for="pet-upload" class="block text-gray-700 font-bold mb-2 mt-5">Pet Image:</label>
        <span><img id="new-pet-thumbnail" alt="thumbnail" height="100" width="100"></span>
        <div class = "flex">
        <button id="pet-upload" type="button" class="border-l-2 border-t-2 border-b-2 p-2 rounded-l-lg " >Upload</button>
        <input th:field="*{image}" type="text" name="image" id="new-pet-input"  class="new-pet-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-r-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
        </div>
      <div class="flex justify-between ">
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>

        <h3 class="text-blue-600 flex justify-center"><a href="/profile" class="mt-2">Go Back</a></h3>
      </div>
    </form>


    <nav th:replace="partials/navbar :: navbar-mobile"></nav>

  </div>
</div>
<!--keys-->
<!--<script src="/js/keys.js "></script>-->

<script th:src="@{/js/filestack-pet.js}" type="module"></script>
</body>
</html>