<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="partials/header :: head"></head>-->

<!--<body>-->
<!--<nav th:replace="partials/navbar :: navbar"></nav>-->



<div class="flex justify-center" th:fragment="petList" >

  <div class="flex flex-row justify-center">


  <div class="flex">
    <div th:each="pet : ${pets}">

      <div th:if="${pet.user.id} == ${user.id}">


        <div class=" max-w-sm mr-3 w-48 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <div class="flex justify-end px-4 pt-4">
            <!-- Dropdown menu -->
            <div id="dropdown" class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
              <ul class="py-2" aria-labelledby="dropdownButton">
                <li>
                  <a th:href="@{|/pets/${pet.id}|}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Detail</a>
                </li>
                <li>
                  <a th:action="@{/pets/{id}/edit(id=${pet.id})}" th:method="get" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Edit</a>
                </li>
                <li>
                  <a th:action="@{/pets/{id}/delete(id=${pet.id})}" th:method="get" class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
                </li>
              </ul>
            </div>
          </div>
          <a th:href="@{|/pets/${pet.id}|}" class="flex flex-col items-center pb-10">
            <img th:href="@{|/pets/${pet.id}|}" class="w-24 h-24 mb-3 rounded-full shadow-lg" th:src="${pet.image}" alt="Pet image"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"><span th:text="${pet.petname}" th:href="@{|/pets/${pet.id}|}"></span></h5>
            <span class="text-sm text-gray-500 dark:text-gray-400"><span th:text="${pet.breed.breed_name}"></span></span>
            <span class="text-sm text-gray-500 dark:text-gray-400">Own by: <span th:text="${pet.user.first_name}"></span></span>

            <div th:if="${pet.user.id} == ${#authentication.principal.id}" class="flex mt-4 space-x-3 md:mt-6">
              <form th:action="@{/pets/{id}/edit(id=${pet.id})}" th:method="get">
                <input type="hidden" name="edit_id" th:value="${pet.id}" />
                <button type="submit" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Edit</button>
              </form>

              <form th:action="@{/pets/{id}/delete(id=${pet.id})}" th:method="get">
                <input type="hidden" name="delete_id" th:value="${pet.id}" />
                <button type="submit" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">Delete</button>
              </form>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
  <nav th:replace="partials/navbar :: navbar-mobile"></nav>


</div>
<!--</body>-->
<!--</html>-->