

<aside th:fragment="aside-nav" id="logo-sidebar" class="fixed top-0 left-0 border-r-2 col-start-1 col-span-1 hidden md:flex w-[16em] xl:w-[17em] h-screen bg-white"
       aria-label="Sidebar" style="z-index: 99">
  <div class="h-full w-full px-3 pb-4 bg-white mt-[7em]">
    <div class=" w-full">
    <ul class="space-y-2 w-full">
      <li class="mb-[3em]">
        <div class="w-full max-w-sm bg-white flex justify-center items-center dark:bg-gray-800 dark:border-gray-700">
          <div class="flex flex-col w-[90%] justify-center items-center p-5 bg-gray-100 rounded-xl h-[150px]">
            <div class = "flex ">
              <img class="w-[50px] h-[50px] mb-3 rounded-full shadow-lg"
                   th:if="${not #strings.isEmpty(user.profilePhoto)}"
                   th:src="${user.profilePhoto}"
                   alt="Profile image"/>
              <img class="w-[50px] h-[50px] mb-3 rounded-full shadow-lg"
                   th:if="${#strings.isEmpty(user.profilePhoto)}"
                   th:src="@{/img/profile.jpeg}"
                   alt="Default profile image"/>

              <div class="flex ml-3 items-start justify-center flex-col">
                <h5 class="text-[18px] font-bold text-gray-900 dark:text-white">
                  <span class="text-[15px] font-bold mb-1"
                        th:text="${#strings.isEmpty(user.first_name) ? 'New User' : user.first_name + (user.last_name != null ? ' ' + user.last_name : '')}"></span>
                </h5>
                <h5 class="text-[13px] text-start font-bold text-gray-400 dark:text-white">
                  @<span th:text="${user.username}"/></h5>
              </div>
            </div>

            <div class="w-full flex justify-evenly">
              <div class="flex flex-col">
                <h2 class="text-center font-bold" th:text="${user.followedUsers.size()}"></h2>
                <h5 class="text-center text-gray-400">Followers</h5>
              </div>

              <div class="flex flex-col">
                <h2 class="text-center font-bold" th:text="${user.posts.size()}"></h2>
                <h5 class="text-center text-gray-400">Posts</h5>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li>
        <a href="/profile"
           class="flex items-center p-3 pl-14 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
          <span class="flex-1 ml-3 whitespace-nowrap">My Profile</span>
        </a>
      </li>

      <li>
        <a href="/posts"
           class="flex items-center p-3 pl-14 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75" viewBox="0 0 16 16">
            <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
          </svg>
          <span class="flex-1 ml-3 whitespace-nowrap">Feed</span>
        </a>
      </li>

      <li>
        <a href="/events"
           class="flex items-center p-3 pl-14 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar4-event flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 " viewBox="0 0 16 16">
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"/>
            <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
          </svg>
          <span class="flex-1 ml-3 whitespace-nowrap">Events</span>
        </a>
      </li>

      <li>
        <a href="/friends"
           class="flex items-center p-3 pl-14 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-people-fill flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
               viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
          </svg>
          <span class="flex-1 ml-3 whitespace-nowrap">Friends</span>
        </a>
      </li>
    </ul>
      </div>

      <div>
      <li class="flex w-full mt-[22em] items-center justify-center p-3  pb-5 text-gray-900 dark:text-white ">
        <form th:action="${'/logout'}" th:method="post">
          <button type="submit"
                  class="py-2.5 px-5 w-full mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:text-red-400 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
              <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
            </svg>
          </button>
        </form>
      </li>
      </div>

  </div>
</aside>


<aside th:fragment="friends-aside" class="fixed top-0 mr-3 mt-3 right-0 justify-items-center ml-5 hidden md:flex w-[15em]"

       aria-label="Sidebar">
  <div class="w-full max-w-md p-3 mt-[103px] h-1/2 bg-white border  border-gray-200 rounded-lg shadow-xl dark:bg-gray-800 dark:border-gray-700">
    <div class="w-full flex flex-row items-center justify-between mb-4">
      <div class="w-full flex flex-col justify-center">
        <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
          <ul class="flex flex-row -mb-px text-sm font-medium text-center" id="myTab"
              data-tabs-toggle="#myTabContent" role="tablist">
            <li class="w-1/2 mr-2" role="presentation">
              <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab"
                      data-tabs-target="#profile" type="button" role="tab" aria-controls="profile"
                      aria-selected="false">Followers
              </button>
            </li>
            <li class="w-1/2 mr-2" role="presentation">
              <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                      id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab"
                      aria-controls="dashboard" aria-selected="false">All
              </button>
            </li>

          </ul>
        </div>
        <div id="myTabContent">
          <div class="hidden rounded-lg" id="profile" role="tabpanel"
               aria-labelledby="profile-tab">
            <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">

              <!--          <div th:each="user : ${users}">-->
              <div th:each="user : ${followedUsers}">

                <div th:if="${user.id} != ${#authentication.principal.id}">
                  <li class="py-2 group/item">
                    <div class="flex flex-col space-x-4 ">
                      <div class="flex items-center px-3 justify-between">
                        <div th:data-dropdown-toggle="${user.id}"
                             data-dropdown-placement="bottom-start" type="button"
                             class="flex items-center">

                          <img class="w-10 h-10 rounded-full cursor-pointer"
                               th:src="${user.profilePhoto != null and user.profilePhoto != '' ? user.profilePhoto : '/img/profile.jpeg'}"
                               alt="user-image">

                          <div class="ml-3 flex-col font-medium dark:text-white">
                            <div class="text-base font-normal text-gray-900 "><span
                                    th:text="${user.first_name}"
                                    th:href="@{|/user/${user.id}|}"></span><span
                                    th:text="${user.last_name}"
                                    th:href="@{|/user/${user.id}|}"></span></div>
                            <div class="text-sm text-gray-500 dark:text-gray-400">@<span
                                    th:text="${user.username}"
                                    th:href="@{|/user/${user.id}|}"></span></div>
                          </div>
                          <div th:id="${user.id}"
                               class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                            <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                              <div class="text-base font-normal text-gray-900 "><span
                                      th:text="${user.first_name } "></span> <span
                                      th:text="${user.last_name}"></span></div>
                              <div class="text-sm text-gray-500 dark:text-gray-400">
                                <span th:text="${user.email}"></span></div>

                            </div>
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                                aria-labelledby="avatarButton">
                              <li>
                                <a th:href="@{|/user/${user.id}|}"
                                   class="block px-4 py-2 dark:hover:text-white">View
                                  Profile</a>
                              </li>
                              <li>
                                <a href="/friends"
                                   class="block px-4 py-2 dark:hover:text-white">Message</a>
                              </li>
                            </ul>
                            <div class="py-1">

                              <form th:action="@{/users/{id}/follow(id=${user.id})}"
                                    th:name="followFromEvent" th:method="post"
                                    class="block px-4 py-2 text-sm text-gray-700">
                                <button th:text="${user.getFollowedUsers().contains(user) ? 'Follow' : 'Unfollow'}"
                                        type="submit"></button>
                              </form>

                            </div>
                          </div>
                        </div>

                        <a class="flex flex-row justify-self-end items-center  "
                           th:href="@{|/user/${user.id}|}">

                          <div class="hover:cursor-pointer group-hover/edit:translate-x-0.5 group-hover/edit:text-slate-500">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi text-gray-300 hover:text-gray-500 transition duration-300  bi-person-circle" viewBox="0 0 16 16">
                              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                          </div>
                        </a>
                      </div>
                    </div>
                  </li>
                </div>
              </div>
            </ul>
          </div>

          <div class="hidden rounded-lg bg-gray-50 dark:bg-gray-800" id="dashboard" role="tabpanel"
               aria-labelledby="dashboard-tab">
            <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
              <!--          <div th:each="user : ${users}">-->
              <div th:each="user : ${usersNotFollowing}">

                <div th:if="${user.id} != ${#authentication.principal.id}">

                  <li class="py-2 group/item hover:bg-slate-100 ">

                    <div class="flex flex-col space-x-4 ">
                      <div class="flex items-center justify-between px-3">
                        <div th:data-dropdown-toggle="${user.email}"
                             data-dropdown-placement="bottom-start" type="button"
                             class="flex items-center">

                          <img class="w-10 h-10 rounded-full cursor-pointer"
                               th:src="${user.profilePhoto != null and user.profilePhoto != '' ? user.profilePhoto : '/img/profile.jpeg'}"
                               alt="user-image">

                          <div class="ml-3 flex-col font-medium dark:text-white">
                            <div class="text-sm text-gray-500 dark:text-gray-400">@<span
                                    th:text="${user.username}"
                                    th:href="@{|/user/${user.id}|}">
                                                            </span>
                            </div>
                          </div>
                          <div th:id="${user.email}"
                               class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                            <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                              <div class="text-base font-normal text-gray-900 "><span
                                      th:text="${user.first_name } "></span> <span
                                      th:text="${user.last_name}"></span>
                              </div>
                              <div class="text-sm text-gray-500 dark:text-gray-400">

                                <span th:text="${user.email}"></span>
                              </div>

                            </div>
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                                aria-labelledby="avatarButton">
                              <li>
                                <a th:href="@{|/user/${user.id}|}"
                                   class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">View
                                  Profile</a>
                              </li>
                              <li>
                                <a href="#"
                                   class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Message</a>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <a class="flex flex-row justify-self-end items-center group/edit invisible hover:bg-slate-200 group-hover/item:visible ">
                          <form th:action="@{/users/{id}/follow(id=${user.id})}"
                                th:name="followFromEvent" th:method="post"
                                class="block px-4 py-2 text-sm text-gray-200 dark:text-gray-600 dark:hover:text-white">
                            <button class="items-center justify-center hover:cursor-pointer group-hover/edit:translate-x-0.5 group-hover/edit:text-slate-500 "
                                    type="submit">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                   height="16" fill="currentColor"
                                   class="bi bi-person-fill-add" viewBox="0 0 16 16">
                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                                <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
                              </svg>
                            </button>
                          </form>
                        </a>
                      </div>
                    </div>
                  </li>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>

