<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials/header :: head">
    <title>Friends</title>
    <script>
        (function (t, a, l, k, j, s) {
            s = a.createElement('script');
            s.async = 1;
            s.src = "https://cdn.talkjs.com/talk.js";
            a.head.appendChild(s)
            ;k = t.Promise;
            t.Talk = {
                v: 2, ready: {
                    then: function (f) {
                        if (k) return new k(function (r, e) {
                            l.push([f, r, e])
                        });
                        l
                            .push([f])
                    }, catch: function () {
                        return k && new k()
                    }, c: l
                }
            };
        })(window, document, []);
    </script>
</head>
<link rel="stylesheet" href="/css/profile.css"/>


<body class="bg-gray-100 ">
<nav th:replace="partials/navbar :: navbar-search-friends"></nav>
<nav th:replace="partials/navbar :: navbar-mobile-events"></nav>


<div class="flex w-screen h-screen w-[38em]">

<section class="aside-container hidden md:flex w-[22em] h-screen relative">
<aside th:replace="partials/Aside :: aside-nav"></aside>
</section>



    <!--- Feed -->
    <div class="w-screen relative h-screen">
        <div class="mt-[4em] md:mt-[7em]">

            <div class="w-full">
                <section class="w-full h-full p-4 bg-white border border-gray-200 rounded-lg shadow ">
                    <h1 class = "text-3xl font-extrabold mb-3">Chats</h1>

                    <!--Search Bar-->
                    <div class="relative">

                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg class="w-5 h-5 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span class="sr-only">Search Icon</span>
                        </div>
                        <input type="text" id="search"
                               class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="Follow a friend..">
                    </div>

                    <div class="flex h-full">

                    <div class="w-1/2 h-full">
                        <h2 class="mb-5 text-[15px] mt-4 text-gray-400 ">Following</h2>

                    <ul id="loggedUser" role="list" th:title="${#authentication.principal.id}">

                        <div class ="pr-2" th:each="user : ${followedUsers}">
                            <div th:if="${user.id} != ${#authentication.principal.id}">
                                <li th:title="${user.id}" class="friend-card group/item hover:cursor-pointer ">

                                    <div class="flex flex-col space-x-4 mb-5 ">
                                        <div class="flex items-center justify-between">
                                            <div th:data-dropdown-toggle="drop+${user.id}"
                                                 data-dropdown-placement="bottom-start" type="button"
                                                 class="flex items-center">

                                              <img class="w-10 h-10 rounded-full cursor-pointer"
                                                   th:src="${user.profilePhoto != null and user.profilePhoto != '' ? user.profilePhoto : '/img/profile.jpeg'}"
                                                   alt="user-image">
                                                <div class="ml-3 flex-col font-medium dark:text-white">
                                                    <div class="text-base font-normal text-gray-900 "><span
                                                            th:text="${user.first_name}"
                                                            th:href="@{|/user/${user.id}|}"></span><span
                                                            th:text="${user.last_name}"
                                                            th:href="@{|/user/${user.id}|}"></span></div>
                                                    <div class="text-sm text-gray-500 dark:text-gray-400">@<span
                                                            th:text="${user.username}"
                                                            th:href="@{|/user/${user.id}|}"></span></div>
                                                </div>


                                                <div th:id="drop+${user.id}"
                                                     class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                                                    <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                                                        <div class="text-base font-normal text-gray-900 "><span
                                                                th:text="${user.first_name } "></span> <span
                                                                th:text="${user.last_name}"></span></div>
                                                        <div class="text-sm text-gray-500 dark:text-gray-400"><span
                                                                th:text="${user.email}"></span></div>

                                                    </div>
                                                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                                                        aria-labelledby="avatarButton">
                                                        <li>
                                                            <a th:href="@{|/user/${user.id}|}"
                                                               class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">View
                                                                Profile</a>
                                                        </li>
                                                    </ul>

                                                    <div class="py-1">
                                                        <form th:action="@{/users/{id}/follow(id=${user.id})}"
                                                              th:method="post"
                                                              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                                            <button th:text="${user.getFollowedUsers().contains(user) ? 'Follow' : 'Unfollow'}"
                                                                    type="submit"></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class = "flex">
                                                <form th:action="@{/user/{id}(id=${user.id})}" th:method="get" class="flex items-center justify-center">
                                            <button class="hover:cursor-pointer" type="submit">
                                                <div class="flex justify-center items-center w-[40px]">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi text-gray-300 hover:text-gray-500 transition duration-300  bi-person-circle" viewBox="0 0 16 16">
                                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                                    </svg>
                                                </div>
                                            </button>
                                                </form>

                                                <button type="button" th:id="${user.id}"
                                                        class="all-users hover:cursor-pointer flex justify-center items-center w-[40px]">
                                                    <svg name="chevron-forward-outline" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chat-fill transition duration-300 text-gray-300 hover:text-gray-500"  viewBox="0 0 16 16">
                                                        <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            </div>
                            <hr class="w-full h-px my-3 bg-gray-200 border-0 dark:bg-gray-700">
                        </div>
                    </ul>

                    </div>


                        <div class="w-1/2 h-full">
                            <h2 class="mb-5 text-[15px] mt-4 text-gray-400" >All</h2>
                            <div id="myTabContent">
                                <div class="hidden rounded-lg" id="profile" role="tabpanel"
                                     aria-labelledby="profile-tab">
                                    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                                        <div th:each="user : ${followedUsers}">

                                            <div th:if="${user.id} != ${#authentication.principal.id}">
                                                <li class="py-2 group/item">
                                                    <div class="flex flex-col space-x-4 ">
                                                        <div class="flex items-center px-3 justify-between">
                                                            <div th:data-dropdown-toggle="${user.id}"
                                                                 data-dropdown-placement="bottom-start" type="button"
                                                                 class="flex items-center">

                                                                <img class="w-10 h-10 rounded-full cursor-pointer"
                                                                     th:src="${user.profilePhoto != null and user.profilePhoto != '' ? user.profilePhoto : '/img/profile.jpeg'}"
                                                                     alt="user-image">

                                                                <div class="ml-3 flex-col font-medium dark:text-white">
                                                                    <div class="text-base font-normal text-gray-900 "><span
                                                                            th:text="${user.first_name}"
                                                                            th:href="@{|/user/${user.id}|}"></span><span
                                                                            th:text="${user.last_name}"
                                                                            th:href="@{|/user/${user.id}|}"></span></div>
                                                                    <div class="text-sm text-gray-500 dark:text-gray-400">@<span
                                                                            th:text="${user.username}"
                                                                            th:href="@{|/user/${user.id}|}"></span></div>
                                                                </div>
                                                                <div th:id="${user.id}"
                                                                     class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                                                                    <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                                                                        <div class="text-base font-normal text-gray-900 "><span
                                                                                th:text="${user.first_name } "></span> <span
                                                                                th:text="${user.last_name}"></span></div>
                                                                        <div class="text-sm text-gray-500 dark:text-gray-400">
                                                                            <span th:text="${user.email}"></span></div>

                                                                    </div>
                                                                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                                                                        aria-labelledby="avatarButton">
                                                                        <li>
                                                                            <a th:href="@{|/user/${user.id}|}"
                                                                               class="block px-4 py-2 dark:hover:text-white">View
                                                                                Profile</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="/friends"
                                                                               class="block px-4 py-2 dark:hover:text-white">Message</a>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="py-1">

                                                                        <form th:action="@{/users/{id}/follow(id=${user.id})}"
                                                                              th:name="followFromEvent" th:method="post"
                                                                              class="block px-4 py-2 text-sm text-gray-700">
                                                                            <button th:text="${user.getFollowedUsers().contains(user) ? 'Follow' : 'Unfollow'}"
                                                                                    type="submit"></button>
                                                                        </form>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <a class="flex flex-row justify-self-end items-center  "
                                                               th:href="@{|/user/${user.id}|}">

                                                                <div class="hover:cursor-pointer">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi text-gray-300 transition duration-300 hover:text-gray-500 bi-person-circle" viewBox="0 0 16 16">
                                                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                                                    </svg>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div>
                                        </div>
                                    </ul>
                                </div>

                                <div class="hidden rounded-lg" id="dashboard" role="tabpanel"
                                     aria-labelledby="dashboard-tab">
                                    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                                        <!--          <div th:each="user : ${users}">-->
                                        <div th:each="user : ${usersNotFollowing}">

                                            <div th:if="${user.id} != ${#authentication.principal.id}">

                                                <li class="py-2 group/item ">

                                                    <div class="flex flex-col space-x-4 ">
                                                        <div class="flex items-center justify-between px-3">
                                                            <div th:data-dropdown-toggle="${user.email}"
                                                                 data-dropdown-placement="bottom-start" type="button"
                                                                 class="flex items-center">

                                                                <img class="w-10 h-10 rounded-full cursor-pointer"
                                                                     th:src="${user.profilePhoto != null and user.profilePhoto != '' ? user.profilePhoto : '/img/profile.jpeg'}"
                                                                     alt="user-image">

                                                                <div class="ml-3 flex-col font-medium dark:text-white">
                                                                    <div class="text-sm text-gray-500 dark:text-gray-400">@<span
                                                                            th:text="${user.username}"
                                                                            th:href="@{|/user/${user.id}|}">
                                                            </span>
                                                                    </div>
                                                                </div>
                                                                <div th:id="${user.email}"
                                                                     class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                                                                    <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                                                                        <div class="text-base font-normal text-gray-900 "><span
                                                                                th:text="${user.first_name } "></span> <span
                                                                                th:text="${user.last_name}"></span>
                                                                        </div>
                                                                        <div class="text-sm text-gray-500 dark:text-gray-400">

                                                                            <span th:text="${user.email}"></span>
                                                                        </div>

                                                                    </div>
                                                                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                                                                        aria-labelledby="avatarButton">
                                                                        <li>
                                                                            <a th:href="@{|/user/${user.id}|}"
                                                                               class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">View
                                                                                Profile</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#"
                                                                               class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Message</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                            <a class="flex flex-row justify-self-end items-center group/edit group-hover/item:visible ">
                                                                <form th:action="@{/users/{id}/follow(id=${user.id})}"
                                                                      th:name="followFromEvent" th:method="post"
                                                                      class="block px-4 py-2 text-sm text-gray-200 ">
                                                                    <button class="items-center justify-center hover:cursor-pointer"
                                                                            type="submit">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="19"
                                                                             height="19" fill="currentColor"
                                                                             class="bi bi-person-fill-add text-gray-300 transition duration-300 hover:text-gray-500" viewBox="0 0 16 16">
                                                                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                                                                            <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
                                                                        </svg>
                                                                    </button>
                                                                </form>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>

                </section>
            </div>


            <div id="talkjs" class="absolute hidden w-[100%] h-[80%] md:px-3 left-0 right-0 bottom-0 top-[100px]" >
                <section class="w-full h-full p-2 bg-white border border-gray-200 rounded-lg shadow ">
                    <div class="container w-full">
                        <!-- container element in which TalkJS will display a chat UI -->
                        <div id="talkjs-container" class="flex flex-col justify-center w-full items-center object-contain"
                             style="width: 90%; margin: 30px; height: 800px">

                            <div class="relative">

                                <div aria-label="Orange and tan hamster running in a metal wheel" role="img"
                                     class="wheel-and-hamster">
                                    <div class="wheel"></div>
                                    <div class="hamster">
                                        <div class="hamster__body">
                                            <div class="hamster__head">
                                                <div class="hamster__ear"></div>
                                                <div class="hamster__eye"></div>
                                                <div class="hamster__nose"></div>
                                            </div>
                                            <div class="hamster__limb hamster__limb--fr"></div>
                                            <div class="hamster__limb hamster__limb--fl"></div>
                                            <div class="hamster__limb hamster__limb--br"></div>
                                            <div class="hamster__limb hamster__limb--bl"></div>
                                            <div class="hamster__tail"></div>
                                        </div>
                                    </div>
                                    <div class="spoke"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>
</div>



<!--<script src="/js/keys.js" type="text/javascript"></script>-->
<script src="/js/users/friend.js"></script>
<script src="../../static/js/event-feed.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>

</body>
</html>

