<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head">
    <title>
        Login page
    </title>
</head>
<link rel="stylesheet" href="/css/login.css"/>
<body>
<!--<nav th:replace="partials/navbar :: navbar"></nav>-->
<div class="login">
    <div class="login__content container">
        <div class="login__img items-center">
            <img th:src="@{/img/doggologin.png}" alt="doggo" class="h-[23em]" >
        </div>

        <div class="login__forms">
            <form th:action="@{/login}"  th:method="POST" class="login__registre" id="login-in">
                <h1 class="login__title">Sign in to your account</h1>

                <div th:if="${param.error}">
                            Invalid Username and Password.
                          </div>
                <div class="login__box">

                    <i class='bx bx-user login__icon'></i>
                    <input type="text" name="username" id="username" placeholder="Username" class="login__input">
                </div>
                <div class="login__box">
                    <i class='bx bx-lock-alt login__icon'></i>
                    <input type="password" name="password" id="password"  placeholder="Password" class="login__input">
                </div>

                <div class="w-full flex justify-center items-center">
                <button class="login__button w-[10em]">Sign In</button>
                </div>

                <div >
                    <span class="login__account">Don't have an Account ?</span>
                    <span class="login__signin" id="sign-up">Sign Up</span>
                </div>
            </form>

            <form th:action="@{/register}" th:method="POST" th:object="${user}" class="login__create none" id="login-up">
                <h1 class="login__title">Create Account</h1>


                <div class="login__box">
                    <i class='bx bx-user login__icon'></i>
                    <input type="text" name="username" id="website-admin" placeholder="Username" class="login__input">
                </div>

                <div class="login__box">
                    <i class='bx bx-at login__icon'></i>
                    <input type="text" name="email"  id="input-group-1" placeholder="Email" class="login__input">
                </div>

                <div class="login__box">
                    <i class='bx bx-lock-alt login__icon'></i>
                    <input type="password" name="password" id="register-pass" placeholder="Password" class="login__input">
                </div>

                <div class="w-full flex justify-center items-center">
                    <button class="login__button w-[10em]">Sign up</button>
                </div>

                <div>
                    <span class="login__account">Already have an Account ?</span>
                    <span class="login__signup" id="sign-in">Sign In</span>
                </div>

            </form>
        </div>
    </div>
</div>


<footer th:replace="partials/footer::footer"></footer>


<script src="/js/users/login.js"></script>

</body>
</html>