<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header :: head"></head>

<body>


<!--<nav th:replace="partials/navbar :: navbar"></nav>-->


<div class="w-full h-screen">
    <div class="h-2/3 relative" style="background-image: url('https://imgtr.ee/images/2023/04/11/n5rU7.jpg'); background-position: center; background-size: cover;">


    </div>
    <div class="h-[30em] flex justify-center ">
        <div class="w-4/5 flex flex-col justify-between p-7 bg-white">
            <div class="h-[20px] w-full flex justify-center md:justify-start " style="transform: translateY(-550%)">
                <img class="w-[200px] h-[200px] mb-3 rounded-full shadow-lg" th:src="${user.profilePhoto}" alt="Pet image"/>
            </div>
            <!--Bio-->
            <div class="mb-5 mt-[5em] flex flex-col justify-center items-center md:flex-row w-full">

                <div class="w-2/3 flex justify-center items-center md:justify-start md:items-start">
                    <div class="w-full flex flex-col justify-center items-center md:items-start md:justify-end">
                        <h2 class="text-2xl font-bold mb-1"><span th:text="${user.first_name}"></span> <span th:text="${user.last_name}"></span></h2>
                        <h2 class="text-blue-600 text-[20px] mb-2 font-bold"> @ <span class="text-black "th:text="${user.username}"></span></h2>
                        <h2 class= "text-[15px] mb-3 text-center md:text-end"><span class="text-black" th:text="${user.address}"></span></h2>
                        <div class="w-2/3 h-[5em] mb-[4em] md:mb-0 text-center md:text-start md:block"  th:text="${user.bio}" style="overflow-wrap: break-word;">
                        </div>
                    </div>
                </div>

                <div class="flex w-full justify-center md:w-1/3 mt-[1em] md:mt-0 md:justify-end">
                    <form class="mb-4 mr-4" th:action="@{/profile/edit}" method="get">
                        <input type="hidden" name="edit_id" />
                        <button type="submit" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Edit profile</button>
                    </form>
                    <form class="mb-4" th:action="@{/profile/edit}" method="get">
                        <input type="hidden" name="edit_id" />
                        <button type="submit" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Follow</button>
                    </form>
                </div>



            </div>
            <!--        <div class="flex-row p-3" th:include="users/user-card :: userList"></div>-->


            <!--Pets-->
            <div class = "w-full flex flex-col justify-center items-center md:justify-start md:items-start">
                <div class="flex justify-center items-center md:justify-start md:items-start" >
                    <h2 class="font-bold mb-2 mr-2">My Pets</h2>
                    <form th:action="@{/pets/register}" method="get">
                        <input type="hidden" name="edit_id" />
                        <button type="submit" class=" pb-2 md:pb-0 text-blue-700">
                            + Add </button>
                    </form></div>

                <div class="mt-2" th:include="pets/pet-card :: petList">
                            </div>

                <div class="flex w-full h-full mt-5 justify-center">
                    <div class=" w-full">
                        <div class="w-full flex justify-center items-center">
                                    <div class="inline-block w-full p-4 bg-white border-b-2 text-center text-2xl">My Events</div>
                        </div>
                        <!--Render Photos or events-->
                        <div class="h-full grid grid-cols-1">


                            <div class="flex flex-col mt-[4em] justify-between border w-full h-[25em] mb-5 pb-5 border-gray-200 rounded-lg shadow dark:border-gray-700"
                                 th:each="event : ${events}"
                                 th:if="${event.hasParticipated(#authentication.principal.id)}"
                                >


                            <div class=" w-full mt-[10px] h-[3em]">
                                    <div class ="w-full flex items-center justify-between">


                                        <form th:action="@{'/events/' + ${event.id} + '/participate'}" method="post">
                                            <button id="color-toggle" type="submit" class="bg-white w-[150px] duration-75 h-[45px] ml-[4em] text-black font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                                                    th:classappend="${event.hasParticipated(#authentication.principal.id) ? 'bg-white text-black' : ''}">
                                                <span th:text="${event.hasParticipated(#authentication.principal.id) ? 'Attending' : 'Participate'}"></span>
                                            </button>
                                        </form>


                                        <!--Delete btn-->
                                        <div class="w-full flex justify-end" th:if="${event.user.id} == ${#authentication.principal.id}">
                                            <form th:action="@{/events/{id}/delete(id=${event.id})}" method="get">
                                                <input type="hidden" name="delete_id" th:value="${event.id}" />
                                                <button type="submit" class="flex items-center mr-[4em] justify-center text-white h-12 w-[60px] rounded-lg bg-red-600 hover:bg-red-800 font-medium text-sm text-center inline-flex items-center dark:bg-blue-600">
                                                    <h2 class="text-white">Delete</h2>
                                                </button>
                                            </form>
                                        </div>



                                        <div th:if="${event.user.id} != ${#authentication.principal.id}">
                                            <button type="button" class="flex items-center mr-[4em] justify-center text-white h-12 w-12 bg-white hover:bg-gray-100 font-medium rounded-full text-sm text-center inline-flex items-center dark:bg-blue-600">
                                                <svg class="black w-5" fill="none" stroke="black" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"></path>
                                                </svg>
                                            </button>
                                        </div>

                                    </div>
                                </div>


                                <div class=" flex justify-center items-center w-full h-[10em]">
                                    <!--Event Description-->
                                    <div class="w-4/5 h-full bg-white rounded-xl">

                                        <div class = "flex flex-row w-full h-2/3">
                                            <div class ="w-2/3">
                                                <div class="w-full">
                                                    <h2 class="text-2xl font-bold pl-3 pt-1 pr-3" th:text="${event.title}"></h2>
                                                    <div class = "text-sm pl-3 pr-3 pb-3">
                                                        <p class="text-[14px]" th:text="${event.event_DateAndTime}"></p>
                                                        <p class="text-[12px]">15 Jun 2023</p>
                                                        <p class="text-[10px] flex"><span>
                              <svg fill="none" class = "h-[13px] mt-1" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
                              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"></path>
                            </svg></span>10 Miles Away</p>
                                                    </div>


                                                </div>

                                            </div>
                                            <div class="flex pt-3 pr-3">


                                                <div class ="w-1/3 h-1/3 text-[10px] flex items-center mr-4"><h3 class="text-blue-600"><a href="/login">Participants</a></h3></div>


                                                <div class="flex h-1/3 -space-x-4">
                                                    <a th:each="participation, i : ${event.participations}" th:if="${i.index &lt; 3}"><img class="w-9 h-9 border-2 border-white rounded-full dark:border-gray-800" src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg" alt=""></a>
                                                    <a class="flex items-center justify-center w-9 h-9 text-xs font-medium text-white bg-gray-700 border-2 border-white rounded-full hover:bg-gray-600 dark:border-gray-800" href="#"><span th:text="${event.participations.size}"></span></a>
                                                </div>
                                            </div>


                                        </div>
                                        <div class = "w-full h-1/3">
                                            <div class="flex pl-3 items-center space-x-4 justify-between">
                                                <div class="flex ">
                                                    <img class="w-10 h-10 rounded-full mr-3" src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg" alt="">
                                                    <div class="font-medium dark:text-white">
                                                        <div><span th:text="${event.user.getUsername()}"></span></div>
                                                        <div class="text-[10px] text-gray-500 dark:text-gray-400" th:text="${event.created_at}"></div>
                                                    </div>

                                                </div>
                                                <form th:action="@{/events/{id}/edit(id=${event.id})}" method="get">
                                                    <div th:if="${event.user.id} == ${#authentication.principal.id}">
                                                        <input type="hidden" name="edit_id" th:value="${event.id}" />
                                                        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-3 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Edit</button>
                                                    </div>
                                                </form>
                                                <div>
                                                    <form th:action="@{/events/{id}/find (id=${event.id})}" method="get">
                                                        <input type="hidden" name="event" th:value="${event.id}" />
                                                        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 mr-3 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">See Details</button>
                                                    </form>

                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>



                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>


</div>


<!--======-->
<!--    <section class="bg-top bg-no-repeat bg-[url('https://imgtr.ee/images/2023/04/11/n5rU7.jpg')] position: relative">-->
<!--        <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">-->
<!--            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">-->
<!--                Welcome with your partner</h1>-->
<!--            &lt;!&ndash;      <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Let's start another beautiful journey with your partner!</p>&ndash;&gt;-->
<!--            <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">-->

<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

<!--    <div class="flex w-full p-3">-->
<!--        <div class="w-1/4">-->
<!--            <div class="flex flex-col justify-center ">-->

<!--                <img class="inline-flex w-24 h-24 mb-3 rounded-full shadow-lg"-->
<!--                     th:src="${user.profilePhoto}"-->
<!--                     alt="Pet image"/>-->
<!--                <div class="mb-4" th:if="${user.first_name}==null">-->
<!--                    <h3 class="mb-1 text-lg font-medium text-gray-600"><span th:text="${user.username}"></h3>-->
<!--                    <h1><span th:text="${user.username}"></span></h1>-->
<!--                </div>-->
<!--                <div class="mb-4" th:unless="${user.first_name}==null">-->
<!--                    <h3 class="mb-1 text-lg font-medium text-gray-600"><span th:text="${user.first_name}"></span> <span-->
<!--                            th:text="${user.last_name}"></span></h3>-->
<!--                    <div>-->
<!--                        <p class="mb-3 text-gray-500 dark:text-gray-400" th:text="${user.bio}"></p>-->
<!--                    </div>-->

<!--                </div>-->
<!--                <div class="flex flex-row">-->
<!--                    <form class="mb-4" th:action="@{/profile/edit}" method="get">-->
<!--                        <input type="hidden" name="edit_id"/>-->
<!--                        <button type="submit"-->
<!--                                class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">-->
<!--                            Edit profile-->
<!--                        </button>-->
<!--                    </form>-->


<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--      <div class="w-3/4 ">-->

<!--        <div class="flex-row p-3" th:include="users/user-card :: userList"></div>-->
<!--        &lt;!&ndash;      <div class="flex flex-col ">&ndash;&gt;-->
<!--        &lt;!&ndash;        <div class="flex-row">&ndash;&gt;-->
<!--        &lt;!&ndash;          <div class="flex-row" th:include="pets/pet-card :: petList">&ndash;&gt;-->
<!--        &lt;!&ndash;          </div>&ndash;&gt;-->
<!--        &lt;!&ndash;        </div>&ndash;&gt;-->
<!--        &lt;!&ndash;      </div>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--        <div class="flex flex-col w-full">-->
<!--            <div class="w-100 mt-3">-->

<!--                <div class="flex flex-row justify-start items-center">-->
<!--                    <h3 class="mb-1 text-xl font-medium text-gray-900">Your Pets</h3>-->
<!--                    <form class="mb-4" th:action="@{/pets/register}" method="get">-->
<!--                        <input type="hidden" name="edit_id"/>-->
<!--                        <button type="submit"-->
<!--                                class="ml-5 text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500">-->
<!--                            + Add-->
<!--                        </button>-->
<!--                    </form>-->
<!--                </div>-->

<!--                <div class="flex-row p-3" th:include="pets/pet-card :: petList">-->
<!--                </div>-->
<!--                <div class="flex-row p-3">-->
<!--                    <h3 class="mb-1 text-xl font-medium text-gray-900">Your Events</h3>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--&gt;>>>>>> main-->

</body>
</html>