<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header :: head">
    <title>
        Profile page
    </title>
</head>
<link rel="stylesheet" href="/css/calendar2.css">

<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<nav th:replace="partials/navbar :: navbar-mobile"></nav>

<div th:fragment="participation-modal" id="defaultModal" tabindex="-1" aria-hidden="true"
     class="fixed top-0 left-0 right-0 bottom-0 z-50 hidden flex items-center justify-center flex-col" onclick="hideModal()">
    <div id="backdrop" class="absolute h-screen inset-0 opacity-50 flex justify-center items-center"
         onclick="hideModal()"></div>
    <div class="relative w-full max-w-2xl max-h-full bg-white rounded-lg shadow dark:bg-gray-700 items-center">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Participants
                </h3>
                <button type="button" id="close-btn"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-hide="defaultModal" onclick="hideModal()">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Participants -->
            <div id="view-participants-list" class="p-6 space-y-6">
            </div>
        </div>
    </div>
</div>


<div class="w-full h-screen">
    <div class="h-2/5 relative"
         style="background-image: url('https://imgtr.ee/images/2023/04/11/n5rU7.jpg'); background-position: center; background-size: cover;">

    </div>
    <div class="flex justify-center">

        <div class="w-full md:w-4/5 flex flex-col justify-between bg-white">
            <div class="h-[20px] w-full flex justify-center md:justify-start " style="transform: translateY(-700%)">
                <div class="w-[17em] h-[17em] flex flex-col justify-center rounded-full items-center md:items-start">
                    <div class="w-[200px] h-[200px] relative flex justify-center items-center bg-white rounded-full">

                        <img class="w-[190px] h-[190px] rounded-full shadow-lg"
                             th:if="${not #strings.isEmpty(user.profilePhoto)}"
                             th:src="${user.profilePhoto}"
                             alt="Profile image"/>

                        <img class="w-[190px] h-[190px] rounded-full shadow-lg"
                             th:unless="${not #strings.isEmpty(user.profilePhoto)}"
                             th:src="@{/img/profile.jpeg}"
                             alt="Default profile image"/>

                        <div th:if="${user.id} == ${#authentication.principal.id}" class="absolute bottom-0 right-1 ">

                            <form th:action="@{/profile/edit}" method="get">
                                <button type="submit"
                                        class="absolute flex items-center bg-blue-400 hover:bg-blue-500 hover:mouse-pointer justify-center h-[40px] w-[40px] rounded-full right-0 bottom-5">
                                    <i class="bi bi-pencil text-white"></i></button>
                            </form>
                        </div>

                    </div>

                </div>

            </div>
            <!--Bio-->
            <div class=" flex flex-col justify-center mt-[5em] items-center md:items-start md:justify-start w-full">
                <div class="flex flex-col items-start justify-center md:flex-row w-full">
                    <div class="w-3/5 flex justify-center items-center md:justify-start md:items-start">
                        <div class="w-full flex flex-col justify-center items-center md:items-start md:justify-end">

                            <span class="text-2xl font-bold mb-1"
                                  th:text="${#strings.isEmpty(user.first_name) ? 'New User' : user.first_name + (user.last_name != null ? ' ' + user.last_name : '')}"></span>

                            <div class="text-[15px] flex mb-3 mt-1 text-center md:text-end"
                                 th:if="${not #strings.isEmpty(user.address)}">
                                <svg fill="none" class="h-[18px] " stroke="currentColor" stroke-width="1.5"
                                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"></path>
                                </svg>
                                <span class="text-gray-500 text-[13px]" th:text="${user.address}"></span>
                            </div>

                            <h2 class="text-gray-800 text-[13px] mb-2"> @<span class="text-black"
                                                                               th:text="${user.username}"></span> <span
                                    class="text-[15px] font-bold text-gray-500">﹒</span> <span
                                    th:text="${user.email}"></span></h2>

                            <div class="flex w-full justify-evenly md:justify-start"
                                 th:if="${user.id} != ${#authentication.principal.id}">
                                <form th:action="@{/users/{id}/follow(id=${user.id})}" th:method="post"
                                      class="mb-4 mt-3 md:mr-[5em]">
                                    <button th:text="${followedUsers.contains(user) ? 'Follow' : 'Following'}"
                                            type="submit"
                                            class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-black border-2 rounded-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"></button>
                                </form>
                            </div>

                            <div class="w-2/3 h-[5em] mb-[4em] md:mb-0 text-[15px] text-center md:text-start md:block"
                                 th:text="${user.bio}" style="overflow-wrap: break-word;">
                            </div>


                        </div>

                    </div>


                    <a href="/friends">
                    <!--Calendar-->
                    <div class="flex w-[50em] justify-center items-center md:mr-[3em] md:mt-0 md:justify-end">

                            <!--calendar section-->
                        <div class="calendar-container ml-[50px] w-[50em] h-[30em]" style="z-index: 10;">
                            <div class="wrapper w-full">
                                <header>
                                    <p class="current-date"></p>
                                    <div class="icons">
                                        <span id="prev" class="material-symbols-rounded"><</span>
                                        <span id="next" class="material-symbols-rounded">></span>
                                    </div>
                                </header>
                                <div class="calendar">
                                    <ul class="weeks">
                                        <li>Sun</li>
                                        <li>Mon</li>
                                        <li>Tue</li>
                                        <li>Wed</li>
                                        <li>Thu</li>
                                        <li>Fri</li>
                                        <li>Sat</li>
                                    </ul>
                                    <ul class="days"></ul>
                                </div>
                            </div>
                        </div>


                    </div>
                    </a>
                </div>
                <!--Pets-->
                <div class="w-full flex mt-[3em] flex-col justify-center items-center md:justify-start md:items-start">
                    <div class="flex md:justify-start md:items-start">
                        <h2 class="font-bold mb-2 ml-7 md:ml-0 mr-2">My Pets</h2>
                        <form th:action="@{/pets/register}" method="get">
                            <input type="hidden" name="edit_id"/>
                            <button type="submit" class=" pb-2 md:pb-0 text-blue-700">
                                + Add
                            </button>
                        </form>
                    </div>

                    <div class="w-full flex mb-[1em] mt-[1em] justify-center items-center md:justify-start md:items-center">
                        <div class="mt-2" th:include="pets/pet-card :: petList">
                        </div>
                    </div>

                    <!--Events-->

                    <div class="flex flex-col w-full h-screen mt-5  justify-center">
                        <div class=" w-full">
                            <ul class="hidden text-sm font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-lg shadow sm:flex dark:divide-gray-700 dark:text-gray-400">
                                <li class="w-full">
                                    <button id="feed"
                                            class="inline-block w-full p-4 text-gray-900 bg-gray-100 rounded-l-lg dark:bg-gray-700 dark:text-white"
                                            aria-current="page">Feed
                                    </button>
                                </li>
                                <li class="w-full">
                                    <button id="events"
                                            class="inline-block w-full p-4 bg-white hover:text-gray-700 hover:bg-gray-50 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700">
                                        Events
                                    </button>
                                </li>

                            </ul>

                        </div>

                        <!--Render Posts-->
                        <div class="w-full h-screen grid grid-cols-1" id="posts-container" style="overflow: auto;">
                            <div th:each="post : ${posts}" th:if="${post.user.id == user.id}"
                                 class="bg-white rounded-t-lg mt-2">
                                <div class="w-full rounded-t-lg dark:border-gray-700">

                                    <div class="flex">
                                        <div class="flex justify-center">
                                            <img class="w-[55px] h-[55px] mt-[26px] ml-7 rounded-full shadow-md"
                                                 th:if="${not #strings.isEmpty(post.user.profilePhoto)}"
                                                 th:src="${post.user.profilePhoto}" alt="Profile image"/>

                                            <img class="w-[55px] h-[55px] mt-[26px] ml-7 rounded-full shadow-md"
                                                 th:if="${#strings.isEmpty(post.user.profilePhoto)}"
                                                 th:src="@{/img/profile.jpeg}"
                                                 alt="Default profile image"/>
                                        </div>


                                        <!--Name Date body-->
                                        <div id="name-body" class="mt-[20px] w-full">
                                            <div class="ml-5">
                                                <h1 class="font-bold text-[22px] mt-1"><span
                                                        th:text="${post.user.first_name}"></span> <span
                                                        th:text="${post.user.last_name}"></span></h1>
                                                <h3 class="text-blue-400 mt-1"><a
                                                        th:href="@{/user/{id}(id=${post.user.id})}"> @ <span
                                                        th:text="${post.user.username}"></span></a></h3>
                                                <h3 class="text-[10px] text-gray-400 mt-1"><span
                                                        th:text="${#temporals.format(post.created_at, 'h:mm a')}"></span>
                                                    ﹒
                                                    <span th:text="${#temporals.format(post.created_at, 'MMMM dd, yyyy')}"></span>
                                                </h3>

                                                <div class="w-full pb-5 pt-[5px] ml-[2px] text-[18px]"
                                                     th:text="${post.body}"></div>

                                                <!--Post Image-->
                                                <div th:if="${post.image == null or post.image == ''}"
                                                     style="display: hidden;"></div>
                                                <div th:if="${post.image != null and post.image != ''}"
                                                     style="display: block;" class="w-full mb-5">
                                                    <div class="w-full flex justify-center items-center mb-5"><span><img
                                                            th:src="${post.image}"
                                                            class=" w-[40em] mt-2 h-[20em]"></span></div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-full h-[30px] pb-3 border-b border-gray-300 flex flex-row justify-around ">

                                        <div class="flex flex-row justify-center items-center hover:text-blue-500 hover:cursor-pointer transition-all">
                                            <svg fill="none" class="h-[20px] w-[20px] flex justify-center"
                                                 stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                                                 xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337z"></path>
                                            </svg>
                                            <form th:action="@{/posts/{id}/show (id=${post.id})}" method="get">
                                                <input type="hidden" name="event" th:value="${post.id}"/>
                                                <button><span th:text="${post.comments.size}" class="ml-1 mr-1"></span>Comments
                                                </button>
                                            </form>
                                        </div>
                                        <!--                    Like functionality-->
                                        <form th:action="@{'/posts/' + ${post.id} + '/profile-like'}" method="post">
                                            <button type="submit">
                                                <div class="flex flex-row justify-center items-center hover:text-red-500 hover:cursor-pointer transition-all">
                                                    <svg fill="none" class="h-[20px] w-[20px] flex justify-center"
                                                         stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                                                         xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                                         th:classappend="${post.hasLiked(#authentication.principal.id) ? 'text-red-500 fill-red-500' : ''}">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                              d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"></path>
                                                    </svg>
                                                    <span class="ml-1 mr-1" th:text="${post.likes.size}"></span>
                                                    <h3>Likes</h3>
                                                </div>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Render Photos or events-->
                        <div class="w-full hidden h-screen grid grid-cols-1" id="events-container"
                             style="overflow: auto;">
                            <div th:include="event/event-card.html"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>

<script src="/js/users/calendar2.js"></script>
<script src="/js/users/profile.js"></script>



</body>
</html>