<html>
<head>
  <head th:replace="partials/header :: head"></head>

<body>
<div class="container d-flex justify-content-center align-items-stretch ">
  <div class="row">
    <div class="card text-center align-self-center p-0">
      <div class="card-header text-danger bg-dark">Delete Ad</div>

      <div class="card-body">
        <p>Are you sure you want to delete this User,</p>
        <p>${sessionScope.user.username}?</p>
        <i class="bi bi-exclamation-circle text-danger"></i>
        <p class="text-danger">⚠ All of the Ads will be deleted! ⚠</p>

<!--        <form th:action="${ }/profile/delete" method="POST">-->
<!--          <input type="hidden" name="delete_id" value="${ad.id}">-->
<!--          <button type="submit" class="btn btn-danger">Delete</button>-->
<!--        </form>-->
      </div>

    </div>
  </div>
</div>


</body>
</html>
