body {
    font-family: "Raleway", sans-serif;
}



#blob {
    background: linear-gradient(to right, aquamarine, mediumpurple);
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    right: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    animation: rotate 20s infinite;
    z-index: -1; /* set to a lower value */
}

#blur{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1; /* set to a lower value */
    backdrop-filter: blur(150px);
}

/* Initially hide the button */
.start-button {
    opacity: 0;
    transform: translateY(10px);
}

.image-container {
    position: relative;
    transform-style: preserve-3d;
}

#tilting-image {
    transition: transform 0.2s ease-out;
}

#tilting-image:hover {
    transform: rotateY(10deg) rotateX(-10deg);
}


/* Add fade-in animation when the button is fixed */
.start-button.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

/* Add upward animation when the button is fixed */
.start-button.upward {
    transform: translateY(-10px);
}

nav{
    transition: all 0.8s ease-in-out;
}

.backdrop-blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(250px);
}




#pagewrapper {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative; /* make sure the pagewrapper is positioned relative */
    z-index: 1; /* set to a higher value */
}

@keyframes rotate {
    from{
        rotate: 0deg;
    }
    50%{
        scale: 1 1.5;
    }

    to{
        rotate: 360deg;
    }
}


#image-track {
    display: flex;
    gap: 4vmin;
    user-select: none; /* -- Prevent image highlighting -- */
}
#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}



/* -- YouTube Link Styles -- */

body.menu-toggled > .meta-link > span {
    color: rgb(30, 30, 30);
}

#source-link {
    bottom: 60px;
}

#source-link > i {
    color: rgb(94, 106, 210);
}

#yt-link > i {
    color: rgb(239, 83, 80);
}

.meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    position: fixed;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 10000;
}

.meta-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i, .meta-link > span {
    height: 20px;
    line-height: 20px;
}

.meta-link > span {
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

.hiddens {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.hidden-up {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}
.hidden-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (prefers-reduced-motion) {
    .hiddens{
        transition: none;
    }
    .hidden-up{
        transition: none;
    }
    .hidden-right{
        transition: none;
    }
}

.image:nth-child(2){
    transition-delay: 200ms;
}
.image:nth-child(3){
    transition-delay: 400ms;
}
.image:nth-child(4){
    transition-delay: 600ms;
}
.image:nth-child(5){
    transition-delay: 800ms;
}


.landing:nth-child(2){
    transition-delay: 200ms;
}
.landing:nth-child(3){
    transition-delay: 500ms;
}
.landing:nth-child(4){
    transition-delay: 600ms;
}


.sponsor:nth-child(2){
    transition-delay: 200ms;
}
.sponsor:nth-child(3){
    transition-delay: 400ms;
}
.sponsor:nth-child(4){
    transition-delay: 600ms;
}

.about:nth-child(2){
    transition-delay: 200ms;
}
.about:nth-child(3){
    transition-delay: 400ms;
}
.about:nth-child(4){
    transition-delay: 600ms;
}