@media (max-width: 1095px) {
    aside {
        display: none !important;
    }
    #mobile{
        display: flex !important;
    }
    .aside-container{
        display: none !important;
    }
    #chat-width{
        width: 100% !important;
    }

}


body {
    font-family: "Raleway", sans-serif;
}


#nav-mobile {
    position: fixed;
    bottom: 2rem;
    left: 0;
    right: 0;
    width: 328px;
    height: 72px;
    box-shadow: 0 8px 32px hsla(231, 44%, 45%, .2);
    margin: 0 auto;
    padding: 1.5rem .5rem;
    border-radius: .65rem;
    overflow: hidden;
}

.nav__list {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comment-body, #name-body {
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

#talkjs {
    position: fixed;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



/*!* Dark mode styles *!*/
/*.talk-light {*/
/*    --color-text-primary: #fff;*/
/*    --color-background-primary: #1c1c1c;*/
/*    --color-background-secondary: #2d2d2d;*/
/*    --color-background-tertiary: #383838;*/
/*    --color-border-primary: #444444;*/
/*    --color-border-secondary: #555555;*/
/*    --color-link: #4ca6ff;*/
/*}*/

/*!* Apply dark mode styles *!*/
/*.talk-light .talk-container {*/
/*    background-color: var(--color-background-primary);*/
/*    color: var(--color-text-primary);*/
/*}*/

/*.talk-light .talk-header,*/
/*.talk-light .talk-footer {*/
/*    background-color: var(--color-background-secondary);*/
/*    border-color: var(--color-border-primary);*/
/*}*/

/*.talk-light .talk-messages {*/
/*    background-color: var(--color-background-tertiary);*/
/*}*/

/*.talk-light .talk-input {*/
/*    border-color: var(--color-border-secondary);*/
/*}*/

/*.talk-light .talk-link {*/
/*    color: var(--color-link);*/
/*}*/


/* Dark mode styles */
.talk-light .talk-container,
.talk-light .talk-container * {
    background-color: #2d2d2d !important;
    color: #fff !important;
}

.talk-light .talk-header,
.talk-light .talk-footer {
    background-color: #1c1c1c !important;
}

.talk-light .talk-messages {
    background-color: #383838 !important;
}

.talk-light .talk-input,
.talk-light .talk-footer {
    border-color: #444444 !important;
}




