<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mapbox test</title>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>

<!--direction stuff-->
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.css" type="text/css">

<!--utils doc-->
    <script src="../static/js/mapbox-geocoder-utils.js"></script>
</head>
<body>
<form>
    <label for="start">Starting location:</label>
    <input type="text" id="start" name="start"><br><br>
    <label for="end">Ending location:</label>
    <input type="text" id="end" name="end"><br><br>
    <input type="submit" value="Submit">
</form>

<div id='map' style='width: 100%; height: 500px;'></div>

<!--keys-->
<script src="../static/js/keys.js "></script>

<!--mapbox-->
<script src="../static/js/weather_map.js"></script>

</body>
</html>